<ion-card>
  <div class="photo">
    <div class="image">
      <img src="assets/imgs/offer_image.png" />

    </div>
    <div class="card-title2">
      <ion-icon name="heart-outline"></ion-icon>
    </div>
    <div class="card-title3">
      <ion-icon name="share"></ion-icon>
    </div>
    <div class="card-title4">30% off</div>

  </div>
  <ion-card-content>
    <ion-card-title>
      {{product.title}}
    </ion-card-title>

    <div class="footer">
      <div class="money">
        <div class="price-before-discount">$123</div>
        <div class="price-after-discount">$123</div>
      </div>
      <div class="offer-days">3 days left</div>
    </div>

  </ion-card-content>
</ion-card>
